.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  color: #f2f2f2;
  background-color: #131316;

  margin: 0 auto;

  /* border: 1px dashed #4c4cff; */
  box-sizing: border-box;
}

.main {
  width: 90%;
  max-width: 1240px;
  

  display: flex;
  justify-content: space-between;

  /* border: 1px dashed #4c4cff; */
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .main {
    flex-direction: column;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2f37;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8585ad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626293;
}

/*remember: padding: calc(100% * 17 / 25 + 16px) 16px 16px;*/
