.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}

.navigation {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  height: 64px;
  text-decoration: none;
  /* color: #8585ad; */
}

.card {
  text-decoration: none;
}

.active {
  color: #f2f2f3;
}

.link:visited {
  color: inherit;
}

.feed {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;

  overflow: hidden;
  overflow-y: scroll;
  /* height: calc(25.5%); */
  height: 464px;
}
