.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}

.navigation {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link {
  height: 64px;
  text-decoration: none;
  color: #8585ad;
}

.active {
  color: #f2f2f3;
}

.link:visited {
  color: inherit;
}
