.section {
  width: 600px;
  height: 912px;
  overflow-y: scroll;

  border: 1px dashed #4c4cff;
}

.tabs {
  display: flex;

  border: 1px dashed #4c4cff;
}

.container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  justify-content: space-between;
  border: 1px dashed #4c4cff;
}


