.section {
  /* border: 1px dashed #4c4cff; */
  width: 50%;
}

.tabs {
  display: flex;

  /* border: 1px dashed #4c4cff; */
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  /* border: 1px dashed #4c4cff; */
}

.scroll {
  overflow-y: scroll;
  position: relative;
  /* display: flex;
  align-items: center; */

  height: calc(35%);

  /* border: 1px dashed #4c4cff; */
}
