.section {
  width: 50%;
}

.tabs {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.scroll {
  overflow-y: scroll;
  position: relative;
  height: calc(35%);
}
