.header {
  height: 88px;
  width: 90%;

  max-width: 1280px;
  margin: 0 auto;
}

.navigation {
  /* max-width: 1280px; */
  width: 100%;
  /* margin: 0 auto; */
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #f2f2f3;

  /* border: 1px dashed #4c4cff; */
}

.link {
  display: flex;
  align-items: center;
  border-radius: 40px;
  text-decoration: none;
  color: #f2f2f3;

  /* border: 1px dashed #4c4cff; */
}

.link:visited {
  color: inherit;
}

.link:last-child {
  margin-left: auto;
}

.logo {
  position: absolute;
  /* left: calc(50% - 145px); */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.tab:last-child {
  margin-left: auto;

  /* border: 1px dashed #4c4cff; */
}
